# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
*.db

# If you are using Django's default SQLite database:
db.sqlite3

# Environment variables file
.env

# Django migrations
*/migrations/*

# Media files
/media/

# Static files
/staticfiles/

# Virtual environments
venv/
env/
backend/venv/
frontend/node_modules/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# VSCode
.vscode/

# Python packaging
*.egg-info/
.eggs/
*.egg
*.manifest
*.spec

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
